<link rel="stylesheet" href="/style.css">

<div id="nav">
  <h2>febriadj.</h2>
  <div class="nav-path">
    <a href="/">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/blogs/add">Buat Blog</a>
  </div>
</div>