<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form action="/blogs/add" method="post" enctype="multipart/form-data">
    <input type="text" name="author" placeholder="Author"><br>
    <input type="text" name="title" placeholder="Title"><br>
    <input type="file" name="file"><br>
    <textarea name="deskripsi" cols="30" rows="10" placeholder="Deskripsi"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>
</html>